<template name='mobileNavbar'>
	<div class="btn-group btn-group-justified" role="group" aria-label="navbar">
	  <div class="btn-group" role="group">
	    <button class="btn btn-block btn-primary {{activeIfTemplateIs '/home'}}" id="home"><span class='glyphicon glyphicon-home'></span></button>
	  </div>
	  <div class="btn-group" role="group">
	    <button class="btn btn-block btn-primary {{activeIfTemplateIs '/calendar'}}" id="calendar"><span class='glyphicon glyphicon-calendar'></span></button>
	  </div>
	  <div class="btn-group" role="group">
	    <button class="btn btn-block btn-primary {{activeIfTemplateIs '/messages'}}" id="messages"><span class='glyphicon glyphicon-envelope'> </span>
	    	<span class="badge" style="font-size:0.8em">{{unread}}</span>
	    </button>
	  </div>
	  <div class="btn-group" role="group">
	    <button class="btn btn-block btn-primary {{activeIfTemplateIs '/map'}}" id="map"><span class='glyphicon glyphicon-map-marker'></span></button>
	  </div>
	</div>
</template>